.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 30%;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 30%;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-top: 0.25rem;
  background-color: rgb(235, 235, 235);
}

.input:focus {
  outline: none;
  border: 2px solid #007bff;
}

.botao {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

.botao:hover {
  background-color: #2990fd;
}

.mensagem {
  margin-top: 1rem;
  font-size: 1rem;
  color: red;
}
